ul::-webkit-scrollbar{
    width:6px;
}

ul::-webkit-scrollbar-track{
    background-color: transparent;
}

ul::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: #b2bec3;
}

ul::-webkit-scrollbar-button{
    width:0;
    height:0;
}